.message_right {
    background: #ceeff0;
    border-radius: 25px;
    padding: 0.2rem 0.8rem;
    margin: 0.2rem;
    
  }
  
  .message_left {
    background: aliceblue;
    border-radius: 25px;
    padding: 0.2rem 0.8rem;
    margin: 0.2rem;
    
  }
  
  .message_text {
    font-size: 1rem;
  }
  
  .message_icon {
    font-size: 20px;
    margin: 8px;
  }
  