*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  body{
    background-color: aliceblue;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    -webkit-font-smoothing: antialiased;
  }